#header {
    margin-top: 40px;
    background-color: #363636;
    height: 80px;
    margin-bottom: 60px;
}

#titulo {
    margin-bottom: 30px;
    
}

#resultado {
    background-color: #363636;
    margin-top: 40px;
    height: 60px;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.navbar nav {
    height: 6rem;
}

.navbar nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.navbar nav ul {
    display: flex;
    justify-content: space-evenly;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.titulo {
    text-align: center;
    margin-top: 2rem;
}

#resultado {
    display: flex;
    justify-content: center;
    align-items: center;  
}